@model IEnumerable<BrandModel>
@{
    ViewData["title"] = "Brand List";
}
<h3>Thương hiệu sản phẩm </h3>
<a asp-action="AddBrands" class="btn btn-danger btn-sm" asp-controller="Brands">Thêm Thương hiệu</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ten Thương hiệu  </th>
            <th scope="col">Mô tả </th>
            <th scope="col">Status Thương hiệu</th>
            <th scope="col">Đường Dẫn </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td><pre>@Html.Raw(item.Description)</pre></td>

                <td>@item.slug</td>
                <td>
                    @if (item.status == 1)
                    {
                        <span class=" text text-success">
                            Hiển thị
                        </span>
                    }
                    else
                    {
                        <span class=" text text-danger">
                            Ẩn
                        </span>
                    }



                </td>
                <td>
                    <a asp-action="Delete" class="btn btn-warning btn-sm" asp-controller="Brands" asp-route-id="@item.Id ">xóa </a>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Brands" asp-route-id="@item.Id"> Sửa </a>


                </td>

            </tr>


        }
    </tbody>
</table>