@model IEnumerable<ContactModel>
@{
    ViewData["title"] = "Phản Hồi List";
}

<h3  >Danh sách Phản Hồi </h3>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ten Khách hàng </th>
            <th scope="col">Email </th>
            <th scope="col">Subject</th>
            <th scope="col">Tin Nhắn </th>
            <th scope="col">Ngày Gửi </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>
                <td>@item.Ngaygui</td>
                <td>@item.Message</td>
               

            </tr>


        }
    </tbody>
</table>