@using WebApplicationlaptop.Models.ViewModel
@model CartItemViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description">Description</td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CartItems.Count > 0)
                    {
                        @foreach (var item in Model.CartItems)
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href="#"><img src="~/images/@item.Imange" width="150" height="150" style="display: block; margin: auto;"></a>
                                </td>
                                <td class="cart_description" style="vertical-align: middle; padding-left: 20px;">
                                    <h4><a href="#">@item.ProductName</a></h4>
                                </td>
                                <td class="cart_price" style="vertical-align: middle;">
                                    <p>@item.Price.ToString("#,##0")VND</p>
                                </td>
                                <td class="cart_quantity" style="vertical-align: middle;">
                                    <a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-id="@item.ProductId">+</a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2" readonly style="text-align: center;">
                                    <a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.ProductId">-</a>
                                    <a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductId">Remove</a>
                                </td>
                                <td class="cart_total" style="vertical-align: middle;">
                                    <p class="cart_total_price">@item.Total.ToString("#,##0")VND</p>
                                </td>
                                <td class="cart_delete" style="vertical-align: middle;">
                                    <a class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="6" class="text-right">
                                <strong>Total: @Model.GrandTotal.ToString("#,##0")VND</strong>
                            </td>
                            <td colspan="6" class="text-left">
                                <a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Clear">Clear</a>
                            </td>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <td colspan="6" class="text-left">
                                    <a class="btn btn-danger btn-sm" class="fa fa-crosshairs" asp-controller="Checkout" asp-action="Checkout">Check out</a>
                                </td>
                            }
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">
                                <h4>Your cart is empty</h4>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<style>
    .cart_description {
        width: 200px;
    }

    .cart_product img {
        max-width: 100%;
        height: auto;
    }
</style>
